<body class="container">
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                    <p>Jest to prosta aplikacja dotyczaca ksiazek napisana z uzyciem frameworka Angular. 
                        Oferuje podstawowe funkcjonalnosci takie jak przegladanie czy dodawanie ksiazek. 
                        Aplikacja zostala stworzona na potrzeby drugiego sprawozdania z przedmiotu "Tworzenie serwisow Web 2.0"</p>
                    <img src="assets/books.jpg" alt="books" class="rounded mx-auto d-block">
            </div>
        </div>
    </div>
</body>